<launch>
<node name="task3_stopper" pkg="stopafterdistance" type="stopafterdistance_node"/>
<node name="default_controller" pkg="catvehicle_hoffmannfollower" type="catvehicle_hoffmannfollower_node">
	<remap from="/catvehicle/cmd_vel" to="/catvehicle/cmd_vel_task4"/>
</node>

<!-- TODO: make modifications in this launch file to start up your other nodes, and to listen to /catvehicle/vel, with the objective of sending out your Gazebo world model if the /catvehicle/vel is 0 for more than 5 seconds -->

</launch>
